.ticket_container {
  border: 2px solid #333;
  width: 40rem;
  padding: 1rem;
}

.ticket_container h2 {
  margin-bottom: 1rem;
  color: #fff;
}
.ticket_container ul {
  list-style: none;
}
.ticket_container ul li {
  border: 2px solid #fff;
  background-color: rgb(74, 53, 12);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  position: relative;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
  width: 100%;
}

.ticket_container ul li a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  background-color: orange;
}

.ticket_container p {
  background-color: #7c7a7a;
  margin: 0.2rem 0;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
  padding: 0.4rem;
}

.pagination button{
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

.pagination span{
  color:#fff;
}

@media screen and (max-width:650px){
  .ticket_container {
  width: 30rem;
}
}